[submodule "clink/clink-gizmos"]
	path = clink/clink-gizmos
	url = https://github.com/chrisant996/clink-gizmos
[submodule "clink/clink-completions"]
	path = clink/clink-completions
	url = https://github.com/vladimir-kotikov/clink-completions
[submodule "dotposh/Config/kubectl-aliases-powershell"]
	path = dotposh/Config/kubectl-aliases-powershell
	url = https://github.com/shanoor/kubectl-aliases-powershell.git
